<ion-app>
  <ion-split-pane contentId="main-content">

    <!-- Side Menu -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Ionic Framework 6</ion-list-header>
          <ion-note>hi&#64;Android/IOS/PWA</ion-note>

          @for (itemMenu of menuCollections; track itemMenu; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item
                routerDirection="root"
                [routerLink]="[itemMenu.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected">
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  [ios]="itemMenu.icon + '-outline'"
                  [md]="itemMenu.icon + '-sharp'">
                </ion-icon>
                <ion-label>{{ itemMenu.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- Main Page Wrapper -->
    <div class="ion-page" id="main-content">
      <ion-header [translucent]="true">
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{ infoPage.title }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>

  </ion-split-pane>
</ion-app>
