<ion-content [fullscreen]="true">

  <ion-card>
    <img src="https://media.istockphoto.com/id/1346125184/pt/foto/group-of-successful-multiethnic-business-team.jpg?s=612x612&w=0&k=20&c=A775GlAQjKb6xuvp9Zwnut9YTiRQNJSfZUF_wBGyPmI=" alt="" srcset="">
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis fuga exercitationem quas corrupti laboriosam blanditiis debitis repudiandae non nulla voluptatum, voluptas a ut optio, corporis ipsam laudantium nemo, quos incidunt?
    </ion-card-content>
  </ion-card>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">card</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="danger" disabled="false" mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-item>Option 1</ion-item>
  <ion-item>Option 2</ion-item>
</ion-content>
